body {
	font: 14px "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
	color:black;
	max-width: 1000px;
	width: 100%;
	margin: 0 auto;
	background-image: url('file:///C:/Users/Junior/Desktop/repositorio%20local%20git/ClaudioniltonCV/background/background.jpg'); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}



h1,h2 {
	font-family: Georgia;
}
h1{
	color: black;
	font: 25px;

}
h2 {
	border-bottom: 3px solid #aaaa;
	background-color: black;
	color:white;
	padding: 5px;	
}

.container {
	-webkit-border-radius: 5px;
	background-color: #ffffff;
	margin: 10px 50px;
	padding: 5px 20px;
}
	
  