body {
	font: 14px "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
	color:black;
	max-width: 1000px;
	width: 100%;
	margin: 0 auto;
}


h1,h2 {
	font-family: Georgia;
}
h1{
	color: black;
	font: 25px;

}
h2 {
	border-bottom: 3px solid #aaaa;
	background-color: black;
	color:white;
	padding: 5px;	
}
#imgpos {
	position: absolute; 
	right: 100px; /* posiciona a 90px para a esquerda */ 
	top: 120px; /* posiciona a 70px para baixo */
	}
	#container  {  	
		margin: 1em auto;  	
		width: 650px;  	
		background: black;  
		}    